p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h1{color: tan; font-size: medium;}
.header{font-weight: 500; block-size: 0mm; text-align: center;}
h2{font-style: oblique; text-align: center;}
h3{background-color: lightblue; height: 7px; text-align: center;}
